html{
    background-color: #fffaff;
}
body{
    margin: 0px;
    font-family: Outfit;
}

header{
    background-color: #502a50;
    margin: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

#back{
    background-color: #ECD0EC;
    border-radius: 5px;
    font-family: Outfit;
    border: #ba71a2;
    padding: 11px;
}

#back:hover{
     background-color: #ac93ac;
     transition: all 0.5s;
}

.pagetitle{
    margin: 0px;
    color: #ECD0EC;
    font-family: Outfit;
}

h1, h2, h3, p {
     margin-left: 10px;
}
h1, h2{
    text-align: center;
}

#about-me{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#portfolio{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 1%;
    margin-right: auto;
}

.site-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

.site-box:hover{
    opacity: 40%;
    transition: all 0.5s;
}

.site-box *{
    margin: 0px;
}

.site-box img{
    width: 100%;
    border-radius: 10px;
}

#terms{
    background-color: #ba71a2 ;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pricing{
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

#pricing *{
    margin: 7px;
}

#pricing h2{
    margin: 10px;
}

.price-box{
    border: solid #502a50 4px;
    text-align: center;
    border-radius: 5px;
    min-width: 30%;
    background-color: #fbeafc;
    box-shadow: 2px 6px 14px rgba(0, 0, 0, 0.42);
}

#faq{
    padding: 20px;
    background-color: #da7cda65;
}

.faq-box{
     box-shadow: 2px 6px 14px rgba(0, 0, 0, 0.42);
     padding: 15px;
     border-radius: 5px;
     background-color: #fffaff;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
}

summary{
    font-size: larger;
    margin-bottom: 10px;
   
}

@media (width <= 800px){
    #pricing{
        flex-direction: column;
       
    }
}