.main {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column; 
    padding-left: auto;
    padding-right: auto;
    font-family: monospace;

}

.hero{
  width: 600px;  
  height: auto;
  border-style: solid;
  border-color: #555678;
  margin-bottom: 5px;
}

.topnav {
    width: 600px;
    border-style: solid;
    border-width: 3px;
    border-color: #555678;
    background: #cfcfcf;
    background: linear-gradient(0deg,rgba(207, 207, 207, 1) 0%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 5px;
}

.topnav a {
    color: #555678;
    font-family: monospace;
    text-decoration: none;
}
.topnav a:hover {
     color: #a8abe9;
     transition: all 0.1s;
}

article {
    width: 600px;  
    max-width: 600px;  
    border-style: solid;
    border-color: #555678;
    margin-bottom: 5px;
}

article a {
    text-align: justify;
    margin-right: 16px;
}

p {
    margin: 10px;
}

h1 {
    margin: 10px;
    font-weight: bold;
    color: #555678;
}

h2 {
    margin: 10px;
    color: #7475a2;
}

h3{
    margin: 10px;
}

.member{
    border-style: dashed;
    border-width: 1px;
    margin: 5px;
    padding: 5px;
}

.form600px{
        display: block;}
 .form400px{
        display: none;}

#character-select{
    display: flex;
    gap: 1px;
    max-width: 600px;
    overflow: scroll;
}


#character-select img{
    width: 110px;
    height: 110px;
    border: solid #555677 3px;
}

#character-select img:hover{
    -webkit-box-shadow:0px 0px 75px 21px rgba(85,86,119,0.9);
    -moz-box-shadow: 0px 0px 75px 21px rgba(85,86,119,0.9);
    box-shadow: 0px 0px 75px 21px rgba(85,86,119,0.9);
    transition: all 0.5s;
}

.character{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.heroImg{
    width: 600px;
}

.button-grid{
    margin: 10px;
}

@media (width <= 600px ){
    .hero{
        width: 400px;}
    .topnav {
    width: 400px;}
    article {
    width: 400px;}
    .form600px{
        display: none;}
    .form400px{
        display: block;}
    #character-select{
        flex-direction: column;
    }
    .heroImg{
    width: 400px;
}
}

