/*!@nkb "domain":"jbc.lol","rss":"","overflow":false,"readonly":false */
/* 
    Don't use this file to edit your site style! Create a different CSS file for that.
    This file defines how custom elements (like sitebox) will look like.
    Setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion! 
*/

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://nekoweb.org/assets/siteboxes.png */
.site-box {
    border-style: solid;
    border-width: 10px;
    border-image: url(https://prettygourlave.nekoweb.org/prettygourlave.nekoweb.org/imgs/borderimg1.png) 20 round;
    text-align: center;
    background-image: url(https://prettygourlave.nekoweb.org/prettygourlave.nekoweb.org/imgs/background.gif);
    background-repeat: no-repeat;
    font-size: 12px;
}
.site-box > a > p {
    color: #f2e6fd;
    font-weight: bold;
}
.site-box > a > span {
    color: var(--darkbrown);
}

/* Style for your 'Follow on Nekoweb' button (<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>) */
.follow {

}

/* Style for your post box (must start with ".post-box") */
.post-box {
    background-image: url(https://prettygourlave.nekoweb.org/prettygourlave.nekoweb.org/imgs/background.gif);
    border-width: 15px;
    border-radius: 3px;
    border-image: url(https://prettygourlave.nekoweb.org/prettygourlave.nekoweb.org/imgs/borderimg1.png) 20 round;
    padding: 15px;
    border-radius: 10px;
    color: #f2e6fd;
    font-weight: normal;
}

.post-box .post-title {
    font-size: 18px;
    font-weight: x-bold;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Arial;
}

.post-box .post-title :hover{
  color: #68497b;
}