
body {
    background-image: url(imgs/background.gif);
    font-family: 'OffBit Trial', sans-serif;
    padding: 10px;                                           
}

h1{
    font-family:'Twinkle Star';
    font-size: 1.7em;
    margin: 0px;
    padding-left: 15px;
}
h2{
    font-family: 'Twinkle Star';
    margin: 5px;
    padding-left: 15px;
    text-align: left;

}
h3{
    text-align: left;
    margin: 0px;
    margin-left: 15px;
    font-family: 'Twinkle Star';
}

h4{
    font-family: 'Twinkle Star';
    text-align: left;
    margin: 0px;
    padding-left: 15px;
}


a {
    color: #9d5cff;
}

a:hover {
    color: #6904ff;
}

ul {

    text-align: left;
    font-size: 0.7em;
    margin: 5px;
}

button {
    
  border: none;
  color: rgb(96, 0, 206);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;

}

p {
    margin: 10px;
    text-align: left;
    font-size: medium;
}

.footer_text {
    font-size: small;
}

.grid-container {
  display: grid;
  grid-template:
    'stat-bar stat-bar'
    'header header'
    'main sidebar'
    'footer footer'
    / 2.2fr 0.8fr; ;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 1em;
}


.grid-container > section,aside,footer,header {
 color: #fcf2ff;
  border-color: #e0d0ff;
  border-style: solid;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}

.stat-bar { grid-area: stat-bar;}


#stat-bar {
    display: flex;
    align-items: center;
    column-gap: 15px;
}


#guestbook > a:nth-child(2){
    margin: 0px;
    font-size: 0.7em;
}

#guestbook{
    display: flex;
    align-items: center;
}

#guestbook > img:nth-child(1) {
    height: 0px;
}

.header { grid-area: header; 
        background: #8c4aff;
        background: linear-gradient(90deg,rgba(140, 74, 255, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(217, 196, 255, 1) 100%);
        padding: 0em;
    }
    
.sidebar { grid-area: sidebar;  
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-height: 700px;
        overflow-y: auto;
}

.main { grid-area: main; display: flex;}
         
.footer { grid-area: footer;  padding: 20px; }

.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px;
    font-family:'Twinkle Star';
    
}


#iconandtext{ display: flex; align-items: center; }

#iconandtext h2{
    color: #ffffff;
}

#img1 {height: 50px; padding-right: 20px; margin: 0;}

#iconandtext > h2:nth-child(2) {margin: 0; font-family:'Twinkle Star';}

.header-nav {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e0d0ff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    font-size: small;
    font-family: "pixelify-sans", sans-serif;
  

}

.header-nav li {
    flex-grow: 1;
    border-style: solid;
    border-right-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-color: #584b5b;
    float: left;
}



.header-nav li a {
  display: block;
  color: rgb(103, 71, 113);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}


.header-nav li a:hover {
  background-color: #68497b;
  color: #d6aff8;
  letter-spacing: 2px;
  transition: background-color 0.2s, color 0.2s,  letter-spacing 0.2s;
}


#main-background {
    display: flex;
    margin: 0px;
    border-radius: 10px;
    border-style: solid;
    border-image: url(imgs/borderimg1.png) 30 round;
    border-image-width: 20px;
    padding: 15px;
    width: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #e0d0ff;
    border-radius: 5px;
    background-color: rgba(247, 240, 255, 0.271);
    width: 100%;
    max-height: 700px;
    overflow-y: auto;
}

#main-heading {
    color: #ede1ff;
    display: flex;
    border-style: dotted;
    border-width:0px;
    border-bottom-width: 5px;
}

#main-heading h2 {
    margin: 0px;
    margin-left: 30px;
}


#stickers1 img {
    height: 60px;
}

.sidebar > h2:nth-child(1) {border-style: solid; border-radius: 0.2em; }

#mood {font-size: 0.7em;}

.widget{
    padding: 7px;
    border-style: solid; 
    border-radius: 0.2em;
    background-color: rgba(247, 240, 255, 0.271);
    margin: 5px;
    float: left;
    display: flex;
}

.widget-header {
    margin: 0px;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 0.8em;
    text-align: left;
    font-family: 'Twinkle Star';

}

#my-socials {
    display: grid;
}


#socials-grid{
    display: grid;
    grid-gap: 3px;
    grid-template:
     'tumblr tik-tok pinterest'
     'letterboxd spotify serializd'
    / 1fr 1fr 1fr;
     ;
    
    justify-content: space-between;

}

#socials-grid a{
    display: block;
    width: 88px;
    height: 31px;
    width: 100%;
    max-width: 88px;
}




.tumblr {
    background-image: url(imgs/buttons/tumblr-button-1..png);
}

.tumblr:hover {
    background-image: url(imgs/buttons/tumblr-button2..png);
}

.tik-tok {
    background-image: url(imgs/buttons/tiktok-button2.png);
}

.tik-tok:hover {
    background-image: url(imgs/tiktok-button1.png);
}

.pinterest {
    background-image: url(imgs/buttons/pinterest-button1.png);
}

.pinterest:hover {
    background-image: url(imgs/buttons/pinterest-button2.png);
}

.letterboxd {
    background-image: url(imgs/buttons/letterboxd-button1.png);
}

.letterboxd:hover {
    background-image: url(imgs/buttons/letterboxd-button2.png);
}

.spotify {
    background-image: url(imgs/buttons/spotify-button1.png);
}

.spotify:hover {
    background-image: url(imgs/buttons/spotify-button2.png);
}

.serializd {
    background-image: url(imgs/buttons/serializd-button1.png);
}

.serializd:hover {
    background-image: url(imgs/buttons/serializd-button2.png);
}

#clap img{
    display: block;
    width: 100%;
    max-height:100%;
    margin: auto;
}

@media (max-width: 800px) {
  .grid-container {
    grid-template:
      "header"
      "sidebar"
      "main"
      "footer";
  }  
   .sidebar {
    display: none;
  }  
   
}

@media (max-width: 1000px) {
    .tumblr{background-image: url(imgs/buttons/tumblr-short-button-1.png);}
    .tumblr:hover{background-image: url(imgs/buttons/tumblr-short-button-2.png);}

    .tik-tok{background-image: url(imgs/buttons/tiktok-short-button-1.png);}
    .tik-tok:hover{background-image: url(imgs/buttons/tiktok-short-button-2.png);}

    .pinterest{background-image: url(imgs/buttons/pinterest-short-button-1.png);}
    .pinterest:hover{background-image: url(imgs/buttons/pinterest-short-button-2.png);}

    .letterboxd{background-image: url(imgs/buttons/letterboxd-short-button-1.png);}
    .letterboxd:hover{background-image: url(imgs/buttons/letterboxd-short-button-2.png);}

    .spotify{background-image: url(imgs/buttons/spotify-short-button-1.png);}
    .spotify:hover{background-image: url(imgs/buttons/spotify-short-button-2.png);}

    .serializd{background-image: url(imgs/buttons/serializd-short-button-1.png);}
    .serializd:hover{background-image: url(imgs/buttons/serializd-short-button-2.png);}
}

#tamaNOTchi-section{
    display: flex;
    justify-content: space-around;

}

#tamaNOTchi{
    width: 100%;
}

lastfm-tracks {
  box-sizing: border-box;
  border: 1px solid #000;
  width: 270px;
  height: 593px;
}

/* Music Player*/

#glenplayer02 {
position:relative;
top:0px;
left:5px;
display:flex;
z-index:99;
border-style: solid;
border-width: 2px;
border-radius: 5px;
}
#glenplayer02 a {text-decoration:none;}
 
#glenplayer02 > div {
align-self:center;
-webkit-align-self:center;
}
 
.music-controls {
user-select:none;
-webkit-user-select:none;
width:13px;
font-size:18px;
cursor:pointer;
}
 
.playy, .pausee {color:#e1d5f6; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0;} /* color of play & pause buttons */
 
.pausee {display:none;}
 
.sonata {
margin-left:10px;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-size:14px;
color:#e1d5f6;
font-weight: bold;
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0; /* color of music note symbol */
}
 
.labeltext {
margin-left:0px;
position: relative;
bottom:10px;
font-family: 'M PLUS Rounded 1c', sans-serif;
font-size:14px;
color:#F6D5F0;
font-weight: bold;
text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 0 0;/* color of song title */
}
 
.blinkies img {
    height: 20px;
}

h3.widget-header {margin: 0px;}


#about-megrid1{
    display: grid;
    grid-template:
    'list picture';
}


#about-me-list { grid-area: list; }

#about-me-image {
    grid-area: picture; 
    margin: 20px;
    margin-top: 60px;
    margin-left: 30px;
    width: 400px;
    border-radius: 10px;
    border-style: solid;
}

@media (max-width: 1199px) {
    #about-megrid1 {
       grid-template:
        'list'
        'picture';
    }
}




#current-shows { grid-area: shows; }
#current-reads { grid-area: bookss; }
#current-shows { grid-area: shows; }

#currents-flex {
    display: flex;
    gap: 10px;
    flex-direction: row;
   
}




.currents-header {
    margin: 0px;
}

#currents-flex section {
    color: #fcf2ff;
    border-color: #e0d0ff;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    flex-grow: 1;
    margin: 10px;
    flex-basis: 0;
    max-height: 350px;
    overflow-y: scroll;

}

#current-reads{
    margin: 0px;
}

.subtitle {
    font-size: xx-small;
    margin: 0px;
}

#movieDiv {
    display: flex;
    max-width: 100%;
    overflow-x: hidden;
    flex-direction: column;
}


.movie_item img{
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.movie_item h1{
    margin: 0px;
    margin-left: 10px;
}


.movie_item {
    display: flex;
    flex-direction: row;

}

.movie_item p {
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: xx-small;
    text-align: justify;
}


.movie_header_regular {
    font-size: medium;
    margin-right: 10px;
    display: flex;
    text-align: left;
    align-items: baseline;
}

.movie_header_small {
    font-size: small;
    margin-right: 10px;
    display: flex;
    text-align: left;
    align-items: baseline;
}


/*shows*/
.show_item img{
    width: auto;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.show_item h1{
    margin: 0px;
    margin-left: 10px;
}


.show_item {
    display: flex;
}

.show_item p {
    margin: 0px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: xx-small;
    text-align: justify;
}

.show_header {
    display: flex;
    align-items: center;
}

.show_header_regular  {
    font-size: medium;
    margin-right: 10px;
    text-align: left;
    display: flex;
    align-items: baseline;
}

.show_header_small {
    font-size: small;
    margin-right: 10px;
    text-align: left;
    display: flex;
    align-items: baseline;
}


#goodreads {
    border-width: 0px;
}

.gr_custom_container_1770696272 {
    /* customize your Goodreads widget container here*/
    padding: 10px 5px 10px 5px;
    color: #000000;
  }
  .gr_custom_header_1770696272 {
    /* customize your Goodreads header here*/
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: small;
  }
  .gr_custom_each_container_1770696272 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
  }
  .gr_custom_book_container_1770696272 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1770696272 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1770696272 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1770696272 {
    /* customize your rating stars here */
    float: right;
  }