body {
    background-image: url(https://i.pinimg.com/1200x/db/e3/35/dbe335bb5da210dd4114ce8d11d3fe50.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    background-color: rgb(196, 114, 47);

}

#main {
    border: solid 20px;
    border-image: url(https://64.media.tumblr.com/900e56b32f3763868d8e5fa4f82ec6f1/23a43dcdd0fb50e4-31/s400x600/e0c208a5222d732a76f1043fac9541e024c4be3d.pnj) 30 round;
    background-color: rgb(255, 255, 255);
    background-clip:content-box;
    width: 70%;
    height: 90vh;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
        font-family: 'Chiron GoRound TC';
}

h1 {
    text-align: center;
    font-family: 'Borel';
    color: #563e1f;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Borel';
    color: #2b1f10;
    margin-left: 10px;
    margin-bottom: 0px;
}

h3 {
    font-family: 'Borel';
    color: #9d733f;
    margin-left: 10px; 
    margin-bottom: 0px;
}

p{
    font-family: 'Chiron GoRound TC';
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 0px;
}

span{
    font-family: 'Chiron GoRound TC';
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 0px;
}

li{
    font-family: 'Chiron GoRound TC';
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 0px;
}

a{
    color: #467458;
}
a:hover{
    color: #9bbca8;
}

nav{
    margin-right: auto;
    margin-left: auto;
}

article{
     margin-left: 10px; 
    margin-right: 10px; 
}

.coffee_nav{
    display: flex;
    justify-content: space-around;
    border-bottom: solid 10px rgb(167, 119, 84);
    margin-left: 20px;
    margin-right: 20px;
}

.coffee_cup img{
    height: 100px;
}

.coffee_cup:hover {
    rotate: 30deg;
}

.coffee_cup:hover p {
    text-shadow: 10px 10px 10px #fff, 1px 1px 10px #e6ffef;
}
.coffee_cup a{
    color: #fff;
}
.coffee_cup:hover a{
    color: #467458;
}


.coffee_cup{
     position: relative;
    text-align: center;
    color: white;
}

.nav_text{
     position: absolute;
    top: 59%;
    left: 33%;
    transform: translate(-50%, -50%);
    line-height: 10px;
}


#menu{
    display: flex;
    flex-direction: row;
}


.item{
    display: flex;
    flex-direction: column;
     align-items:center;
     border-bottom: solid 10px #9d733f;
     width: 200px;
     text-align: center;
}
.item img{
    height: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* Add dots under the hoverable text */
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden; /* Hidden by default */
  width: 130px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1; /* Ensure tooltip is displayed above content */
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

