name: Deploy to Nekoweb

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare build
        run: |
          mkdir -p ./build
          cp -r ./prettygourlave.nekoweb.org/* ./build

      - name: deploy2nekoweb
        uses: indiefellas/deploy2nekoweb@main
        with:
         nekoweb-api-key: ${{ secrets.MY_NEKOWEB_KEY }}
         nekoweb-domain: 'prettygourlave.nekoweb.org'
         nekoweb-username: 'prettygourlave'
         directory: '/build'
